<div class="ui grid join-group-list">
	<div class="five wide column">
		{% include "partials/joins-agol-card.html" %}

		{% include "partials/joins-addlist.html" with list_type="AGOL" list_type_id="agol_add_id" add_list=agol_list %}

	</div>
	<div class="five wide column">
		{% include "partials/joins-webmap-card.html" %}

		{% include "partials/joins-addlist.html" with list_type="Webmap" list_type_id="webmap_add_id" add_list=webmap_list %}
	</div>
	<div class="five wide column">
		{% include "partials/joins-webmapapp-card.html" %}

		{% include "partials/joins-addlist.html" with list_type="Webmap App" list_type_id="webmap_app_add_id" add_list=webmap_app_list %}
	</div>
</div>