<div class="ui fluid card">
	<div class="content">
		<div class="header">{{ a.name }}</div>
		<div class="description">
			<p>
				<span>Type: </span>
				{{ a.type }}
			</p>
			<p>
				<span>URL: </span>
				<a href="{{a.url}}">{{ a.url }}</a>
			</p>
			<p>
				<span>MXD: </span>
				{{ a.mxd }}
			</p>
			<p>
				<span>External Layer URL: </span>
				<a href="{{a.external_layer_url}}">{{ a.external_layer_url }}</a>
			</p>
			<p>
				<span>Owner: </span>
				{{ a.owner }}
			</p>
			<p>
				<span>Comments: </span>
				{{ a.comments }}
			</p>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ a.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ a.updated_date }}
		</div>
	</div>
</div>