<div class="ui fluid card">
	<div class="content">
		<div class="header"><a href="/viewer/user/?id={{u.id}}">{{ u.name }}</a></div>
		<div class="description">
			<p>
				<span>Role: </span>
				{{ u.role }}
			</p>
			<p>
				<span>Comments: </span>
				{{ u.comments }}
			</p>
			<ul class="link-list">
				<span>ArcGIS Online Links:</span>
				{% for agol in agol_links %}
				{% if agol.owner == u  %}
				<li>
					<a href="{% url 'viewer_agol' %}?id={{agol.id}}" data-tooltip="Link to AGOL view" data-position="right center">{{ agol.name }}</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ u.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ u.updated_date }}
		</div>
	</div>
</div>