<div class="ui fluid card">
	<div class="content">
		<div class="header"><a href="{% url 'viewer_web_adapter' %}?id={{w.id}}">{{ w.machine_name }}</a></div>
		<div class="description">
			<p>
				<span>Enviroment: </span>
				{{ w.enviroment }}
			</p>
			<p>
				<span>Alias: </span>
				<a href="{{w.alias}}" target="_blank" data-tooltip="External link" data-position="right center">{{ w.alias }}</a>
			</p>
			<p>
				<span>Description: </span>
				{{ w.description }}
			</p>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ w.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ w.updated_date }}
		</div>
	</div>
</div>