<div class="ui fluid card">
	<div class="content">
		<div class="header">{{ w.name }}</div>
		<div class="description">
			<p>
				<span>Location: </span>
				{{ w.location }}
			</p>
			<p>
				<span>Actual URL: </span>
				<a href="{{w.actual_url}}">{{ w.actual_url }}</a>
			</p>
			<p>
				<span>Alias URL: </span>
				<a href="{{w.alias_url}}">{{ w.alias_url }}</a>
			</p>
			<p>
				<span>Level: </span>
				{{ w.level }}
			</p>
			<p>
				<span>MXD: </span>
				{{ w.mxd }}
			</p>
			<p>
				<span>Web Adapter: </span>
				{{ w.web_adapter }}
			</p>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ w.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ w.updated_date }}
		</div>
	</div>
</div>