<div class="ui fluid card">
	<div class="content">
		<div class="header"><a href="{% url 'viewer_layer_source' %}?id={{ls.id}}">{{ ls.name }}</a></div>
		<div class="description">
			<p>
				<span>Location/Database: </span>
				{{ ls.location }}
			</p>
			<p>
				<span>Format: </span>
				{{ ls.formats }}
			</p>
			<p>
				<span>Owner: </span>
				{{ ls.owner }}
			</p>
			<p>
				<span>Feature Type: </span>
				{{ ls.feature_type }}
			</p>
			<ul class="link-list">
				<span>MXD Links:</span>
				{% for mxd in mxd_links.all %}
				{% if mxd.layer_source == ls  %}
				<li>
					<a href="{% url 'viewer_mxd' %}?id={{mxd.id}}" data-tooltip="Link to MXD view" data-position="right center">{{ mxd.name }}</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ ls.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ ls.updated_date }}
		</div>
	</div>
</div>