<div class="ui fluid card">
	<div class="content">
		<div class="header"><a href="{% url 'viewer_webmap_app' %}?id={{w.id}}">{{ w.name }}</a></div>
		<div class="description">
			<p>
				<span>Purpose: </span>
				{{ w.purpose }}
			</p>
			<p>
				<span>Url: </span>
				<a href="{{w.url}}" target="_blank" data-tooltip="External link" data-position="right center">{{ w.url }}</a>
			</p>
			<p>
				<span>Contact: </span>
				{{ w.contact }}
			</p>
			<p>
				<span>Webmap: </span>
				<a href="{% url 'viewer_webmap' %}?id={{w.webmap_id}}" data-tooltip="Link to Webmap view" data-position="right center">{{ w.webmap }}</a>
			</p>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ w.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ w.updated_date }}
		</div>
	</div>
</div>