<div class="ui fluid card">
	<div class="content">
		<div class="header"><a href="/viewer/agols/?id={{a.id}}">{{ a.name }}</a>
		<a href="{% url 'admin:agol_agol_item_change' a.id  %}" data-tooltip="Edit AGOL Item" data-position="bottom center" class="edit-card" target="_blank">
			<i class="write icon"></i>
		</a>
		</div>
		<div class="ui fluid accordion card-accordion">
			<div class="title">
				<i class="icon plus"></i>
			</div>
			<div class="description content">
				<p>
					<span>Type: </span>
					{{ a.type }}
				</p>
				<p>
					<span>External Web Service URL: </span>
					<a href="{% url 'viewer_web_service' %}?id={{a.url_id}}" data-tooltip="Link to Web Service view" data-position="right center">{{ a.url }}</a>
				</p>
				<p>
					<span>External MXD: </span>
					<a href="{% url 'viewer_mxd' %}?id={{a.mxd_id}}" data-tooltip="Link to MXD view" data-position="right center">{{ a.mxd }}</a>
				</p>
				<p>
					<span>External Layer URL: </span>
					<a href="{{a.external_layer_url}}" target="_blank" data-tooltip="External link" data-position="right center">{{ a.external_layer_url }}</a>
				</p>
				<p>
					<span>Owner: </span>
					<a href="{% url 'viewer_user' %}?id={{a.owner_id}}" data-tooltip="Link to User view" data-position="right center">{{ a.owner }}</a>
				</p>
				<p>
					<span>Comments: </span>
					{{ a.comments }}
				</p>
				<ul class="link-list">
					<span>Group Links:</span>
					{% for group in group_links.all %}
					{% for g in group.agol.all %}
					{% if g == a  %}
					<li>
						<a href="{% url 'viewer_group' %}?id={{group.id}}" data-tooltip="Link to Group view" data-position="right center">{{ group.name }}</a>
					</li>
					{% endif %}
					{% endfor %}
					{% endfor %}
				</ul>
				<ul class="link-list">
					<span>Webmap Item Links:</span>
					{% for webmap_item in webmap_item_links.all %}
					{% for wi in webmap_item.agol_item.all %}
					{% if wi == a  %}
					<li>
						<a href="{% url 'viewer_webmap_item' %}?id={{webmap_item.id}}" data-tooltip="Link to Webmap App view" data-position="right center">{{ webmap_item.name }}</a>
					</li>
					{% endif %}
					{% endfor %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ a.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ a.updated_date }}
		</div>
	</div>
</div>