<div class="ui fluid card">
	<div class="content">
		<div class="header">{{ w.name }}</div>
		<div class="description">
			<p>
				<span>Purpose: </span>
				{{ w.purpose }}
			</p>
			<p>
				<span>Url: </span>
				<a href="{{w.url}}">{{ w.url }}</a>
			</p>
			<p>
				<span>Contact: </span>
				{{ w.contact }}
			</p>
			<p>
				<span>Webmap: </span>
				{{ w.webmap }}
			</p>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ w.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ w.updated_date }}
		</div>
	</div>
</div>