<div class="ui fluid card">
	<div class="content">
		<div class="header"><a href="/viewer/agol/?id={{a.id}}">{{ a.name }}</a></div>
		<div class="description">
			<p>
				<span>Type: </span>
				{{ a.type }}
			</p>
			<p>
				<span>URL: </span>
				<a href="{{a.url}}" target="_blank" data-tooltip="External link" data-position="right center">{{ a.url }}</a>
			</p>
			<p>
				<span>MXD: </span>
				<a href="{% url 'viewer_mxd' %}?id={{a.mxd_id}}" data-tooltip="Link to MXD view" data-position="right center">{{ a.mxd }}</a>
			</p>
			<p>
				<span>External Layer URL: </span>
				<a href="{{a.external_layer_url}}" target="_blank" data-tooltip="External link" data-position="right center">{{ a.external_layer_url }}</a>
			</p>
			<p>
				<span>Owner: </span>
				<a href="{% url 'viewer_user' %}?id={{a.owner_id}}" data-tooltip="Link to User view" data-position="right center">{{ a.owner }}</a>
			</p>
			<p>
				<span>Comments: </span>
				{{ a.comments }}
			</p>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ a.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ a.updated_date }}
		</div>
	</div>
</div>