<div class="ui fluid card">
	<div class="content">
		<div class="header">{{ w.name }}</div>
		<div class="description">
			<p>
				<b><span>Purpose: </span></b>
				{{ w.purpose }}
			</p>
			<p>
				<b><span>Contact: </span></b>
				{{ w.contact }}
			</p>
			<p>
				<b><span>Collector: </span></b>
				{{ w.collector }}
			</p>
			<p>
				<b><span>Collector Offline: </span></b>
				{{ w.collector_offline }}
			</p>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ w.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ w.updated_date }}
		</div>
	</div>
</div>