<div class="ui fluid card">
	<div class="content">
		<div class="header">{{ m.name }}</div>
		<div class="description">
			<p>
				<span>Path: </span>
				{{ m.path }}
			</p>
			<p>
				<span>Description: </span>
				{{ m.description }}
			</p>
			<p>
				<span>Client: </span>
				{{ m.client }}
			</p>
			<p>
				<span>Created By: </span>
				{{ m.created_by }}
			</p>
			<p>
				<span>Created On: </span>
				{{ m.created_on }}
			</p>
			<p>
				<span>Layer Source: </span>
				<a href="/viewer/layersource/?id={{m.layer_source_id}}" data-tooltip="Link to Layer Source view" data-position="right center">{{ m.layer_source }}</a>
			</p>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ m.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ m.updated_date }}
		</div>
	</div>
</div>