<div class="ui fluid card">
	<div class="content">
		<div class="header"><a href="{% url 'viewer_webmap_item' %}?id={{w.id}}">{{ w.name }}</a></div>
		<div class="description">
			<p>
				<span>Description: </span>
				{{ w.description }}
			</p>
			<p>
				<span>ArcGIS Online Items: </span>
				<ul>
					{% for ag in w.agol_item.all  %}
						<li>
							<a href="{% url 'viewer_agol' %}?id={{ag.id}}" data-tooltip="Link to AGOL view" data-position="right center">{{ ag }}</a>
						</li>
					{% endfor %}
				</ul>
			</p>
			<ul class="link-list">
				<span>Webmaps: </span>
				{% for web in w.webmap.all  %}
					<li>
						<a href="{% url 'viewer_webmap' %}?id={{web.id}}" data-tooltip="Link to Webmap view" data-position="right center">{{ web }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ w.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ w.updated_date }}
		</div>
	</div>
</div>