<div class="main-menu ui fixed menu">
	<div class="ui container">
		<a href="{% url 'index' %}" class="header item">
			{% load static %}
			{% get_static_prefix as STATIC_PREFIX %}
			<img src="{{ STATIC_PREFIX }}images/DPaW_logo.jpg" alt="dpaw logo" class="logo">
			<p class="title">ArcGIS Online Indexer</p>
		</a>
		<div class="right menu">
			<a href="{% url 'index' %}" class="item">Search</a>
			<div class="ui dropdown item">
				Viewer <i class="dropdown icon"></i>
				<div class="menu">
					<a href="{% url 'viewer_agol' %}" class="item">AGOL</a>
					<a href="{% url 'viewer_group' %}" class="item">Groups</a>
					<a href="{% url 'viewer_layer_source' %}" class="item">Layer Sources</a>
					<a href="{% url 'viewer_mxd' %}" class="item">MXDs</a>
					<a href="{% url 'viewer_webmap' %}" class="item">Webmaps</a>
					<a href="{% url 'viewer_webmap_app' %}" class="item">Webmap Apps</a>
					<a href="{% url 'viewer_webmap_item' %}" class="item">Webmap Items</a>
					<a href="{% url 'viewer_web_adapter' %}" class="item">Web Adapters</a>
					<a href="{% url 'viewer_web_service' %}" class="item">Web Services</a>
				</div>
			</div>

			<div class="ui dropdown item">
				Joins <i class="dropdown icon"></i>
				<div class="menu">
					<a href="{% url 'joins_groups' %}" class="item">Groups</a>
					<a href="{% url 'joins_webmapitems' %}" class="item">Webmap Items</a>
				</div>
			</div>

			<a href="{% url 'admin:index' %}" class="item">Admin</a>
		</div>
	</div>
</div>