<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ArcGIS Online Indexer</title>
	<link rel="icon" type="image/png" href="assets/images/DPaW_favicon.png">
	<link rel="stylesheet" href="assets/libs/semantic-ui/semantic.min.css">
	<link rel="stylesheet" href="assets/css/master.min.css">
	<script type="text/javascript" src="assets/libs/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="assets/libs/semantic-ui/semantic.min.js"></script>
	<script type="text/javascript" src="assets/js/main.js"></script>
</head>
<body>
	{% include "./partials/nav.html" %}
	
	<div class="main-container ui container">
		test
	</div>
</body>
</html>