{% extends "index.html" %}
{% block content %}
	
	<div class="ui container viewer-container">
		{# breadcrumbs #}
		{% include "partials/viewer_breadcrumbs.html" with location=location showing_all=showing_all  %}
		
		{# header #}
		<h2>{{ items.end_index }} {{ location.0 }}{{ items.end_index|pluralize }}</h2>

		{# search #}
		{% include "partials/viewer_search.html" with location=location search_field=search_field search_data=search_data  %}

		{% for item in items  %}
		{% if location.0 == "ArcGIS Online Item" %}
			{% include "partials/card_agol.html" with a=item webmap_item_links=webmap_item_links group_links=group_links %}
		{% elif location.0 == "Group" %}
			{% include "partials/card_groups.html" with g=item %}
		{% elif location.0 == "Layer Source" %}
			{% include "partials/card_layer-source.html" with ls=item mxd_links=mxd_links %}
		{% elif location.0 == "MXD" %}
			{% include "partials/card_mxd.html" with m=item web_service_links=web_service_links agol_links=agol_links %}
		{% elif location.0 == "Webmap" %}
			{% include "partials/card_webmap.html" with w=item webmap_app_links=webmap_app_links webmap_item_links=webmap_item_links group_links=group_links %}
		{% elif location.0 == "Webmap App" %}
			{% include "partials/card_webmap-app.html" with w=item group_links=group_links %}
		{% elif location.0 == "Webmap Item" %}
			{% include "partials/card_webmap-item.html" with w=item %}
		{% elif location.0 == "Web Adapter" %}
			{% include "partials/card_web-adapter.html" with w=item web_service_links=web_service_links %}
		{% elif location.0 == "Web Service" %}
			{% include "partials/card_web-service.html" with w=item agol_links=agol_links %}
		{% elif location.0 == "User" %}
			{% include "partials/card_user.html" with u=item agol_links=agol_links %}
		{% endif %}
	{% endfor %}
	</div>
	<div class="ui one column centered grid showing-num">
		<span>Showing {{location.0}}s {{ items.start_index }} - {{ items.end_index }}</span>
	</div>
{% endblock %}