{% extends "index.html" %}
{% block content %}

<div class="ui container joins-container">
	
	<h2 class="ui header">{{ type }} Joins</h2>

	{% include "partials/joins-searchbar.html" with si=selected_item %}

	<h3 class="ui header">
		{% if type == "Group" %}
		<a href="{% url 'viewer_group' %}?id={{selected_item.id}}" data-tooltip="Link to {{type}} view" data-position="right center" class="header">{{ selected_item.name }}</a>
		{% else %}
		<a href="{% url 'viewer_webmap_item' %}?id={{selected_item.id}}" data-tooltip="Link to {{type}} view" data-position="right center" class="header">{{ selected_item.name }}</a>
		{% endif %}
		<div class="sub header">{{ selected_item.description }}</div>
	</h3>

	{% if selected_item %}
	{% if type == "Group" %}
	{% include "partials/joins-cards-group.html" %}
	{% else %}
	{% include "partials/joins-cards-webmapitem.html" %}
	{% endif %}
	{% else %}
	{% include "partials/joins-addjoin.html" %}
	{% endif %}
</div>

{% endblock %}