<div class="ui fluid card">
	<div class="content">
		<div class="header">{{ g.name }}</div>
		<div class="description">
			<p>
				<b><span>Description: </span></b>
				{{ g.description }}
			</p>
			<p>
				<b><span>Webmaps: </span></b>
				<ul>
					{% for web in g.webmap.all  %}
						<li>{{ web }}</li>
					{% endfor %}
				</ul>
			</p>
			<p>
				<b><span>Webmap Apps: </span></b>
				<ul>
					{% for wa in g.webmap_app.all  %}
						<li>{{ wa }}</li>
					{% endfor %}
				</ul>
			</p>
			<p>
				<b><span>ArcGIS Online Items: </span></b>
				<ul>				
					{% for ag in g.agol.all  %}
						<li>{{ ag }}</li>
					{% endfor %}
				</ul>
			</p>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ g.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ g.updated_date }}
		</div>
	</div>
</div>