<div class="viewer-list ui relaxed divided list viewer-item-description">
	<div class="item">
		<i class="large angle right right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_agol' %}" class="header">ArcGIS Online Items</a>
			<div class="description">
				Any item in AGOL that could be thought of as a spatial layer/table/image.
				Ie. everything <b>OTHER</b> than a Webmap or Webmapping.
			</div>
		</div>
	</div>

	<div class="item">
		<i class="large angle right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_group' %}" class="header">Groups</a>
			<div class="description">
				A group is created with specific permissions to allow members of the group to access only the tools and data relating to their work and therefore not be able to touch anyone elses.
			</div>
		</div>
	</div>

	<div class="item">
		<i class="large angle right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_layer_source' %}" class="header">Layer Sources</a>
			<div class="description">
				The source layers that are rendered in an MXD in ArcMap. One per mxd only.
			</div>
		</div>
	</div>

	<div class="item">
		<i class="large angle right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_mxd' %}" class="header">MXDs</a>
			<div class="description">
				An ArcMap session file. It is where the authoring of the web service happens.
			</div>
		</div>
	</div>

	<div class="item">
		<i class="large angle right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_webmap' %}" class="header">Webmaps</a>
			<div class="description">
				A map built in AGOL that contains one or many layers (ArcGIS Items).
			</div>
		</div>
	</div>

	<div class="item">
		<i class="large angle right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_webmap_app' %}" class="header">Webmap Apps</a>
			<div class="description">
				A prettier fancy pants app that sources a Webmap and adds additional functionality like printing and heaps of other cool stuff.
			</div>
		</div>
	</div>

	<div class="item">
		<i class="large angle right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_web_adapter' %}" class="header">Web Adapters</a>
			<div class="description">
				Allows the creation of a web alias that points to the correct server (which may change over time, so by using a web alias the connections to layers can be permanent).
			</div>
		</div>
	</div>

	<div class="item">
		<i class="large angle right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_web_service' %}" class="header">Web Services</a>
			<div class="description">
				Created in ArcGIS Server (within DPaW) these web services are consumed in AGOL and become “layers” or “AGOL Items”.
			</div>
		</div>
	</div>

	<div class="item">
		<i class="large angle right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_user' %}" class="header">AGOL Users</a>
			<div class="description">
				These are AGOL “named users”.  DPaW has a limit of 154.  Don’t hand them out willy nilly.
			</div>
		</div>
	</div>
</div>