<div class="viewer-list ui relaxed divided list">
	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_agol' %}" class="header">ArcGIS Items</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_group' %}" class="header">Groups</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_layer_source' %}" class="header">Layer Sources</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_mxd' %}" class="header">MXDs</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_webmap' %}" class="header">Webmaps</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_webmap_app' %}" class="header">Webmap Apps</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_webmap_item' %}" class="header">Webmap Items</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_web_adapter' %}" class="header">Web Adapters</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_web_service' %}" class="header">Web Services</a>
			<div class="description">description 1</div>
		</div>
	</div>
</div>