<div class="ui large breadcrumb">
	<a href="{% url 'viewer' %}" class="section">Items</a>
	
	{% for loc in location  %}
		<i class="right chevron icon divider"></i>

		{% if loc == 'ArcGIS Online Item'  %}
			<a href="{% url 'viewer_agol' %}" class="section">{{ loc }}s</a>
		{% elif loc == 'Group' %}
			<a href="{% url 'viewer_group' %}" class="section">{{ loc }}s</a>
		{% elif loc == 'Layer Source' %}
			<a href="{% url 'viewer_layer_source' %}" class="section">{{ loc }}s</a>
		{% elif loc == 'MXD' %}
			<a href="{% url 'viewer_mxd' %}" class="section">{{ loc }}s</a>
		{% elif loc == 'Web Adapter' %}
			<a href="{% url 'viewer_web_adapter' %}" class="section">{{ loc }}s</a>
		{% elif loc == 'Web Service' %}
			<a href="{% url 'viewer_web_service' %}" class="section">{{ loc }}s</a>
		{% elif loc == 'Webmap' %}
			<a href="{% url 'viewer_webmap' %}" class="section">{{ loc }}s</a>
		{% elif loc == 'Webmap App' %}
			<a href="{% url 'viewer_webmap_app' %}" class="section">{{ loc }}s</a>
		{% elif loc == 'User' %}
			<a href="{% url 'viewer_user' %}" class="section">{{ loc }}s</a>
		{% else %}
			{% if showing_all %}
			<div class="active section">All {{ location.0 }}s</div>
			{% else %}
			<div class="active section">{{loc}} {{ location.0 }} Results</div>
			{% endif %}
		{% endif %}
	{% endfor %}
</div>

<div class="ui pagination menu center aligned">
		{% if items.has_previous %}
		<a class="item" href="?page={{ items.previous_page_number }}">
			<i class="icon chevron left"></i>
		</a>
		{% endif %}
			
		<div class="item">
			Page {{ items.number }} of {{ items.paginator.num_pages }}
		</div>

		{% if items.has_next %}
		<a class="item" href="?page={{ items.next_page_number }}">
			<i class="icon chevron right"></i>
		</a>
		{% endif %}
</div>