<div class="ui fluid card">
	<div class="content">
		<div class="header">{{ a.name }}</div>
		<div class="description">
			<p>
				<b><span>Type: </span></b>
				{{ a.type }}
			</p>
			<p>
				<b><span>URL: </span></b>
				{{ a.url }}
			</p>
			<p>
				<b><span>MXD: </span></b>
				{{ a.mxd }}
			</p>
			<p>
				<b><span>External Layer URL: </span></b>
				{{ a.external_layer_url }}
			</p>
			<p>
				<b><span>Owner: </span></b>
				{{ a.owner }}
			</p>
			<p>
				<b><span>Comments: </span></b>
				{{ a.comments }}
			</p>
		</div>
	</div>
	<div class="extra content">
		<div class="meta">
			<span>Created on: </span>
			{{ a.created_date }}
		</div>
		<div class="meta">
			<span>Updated on: </span>
			{{ a.updated_date }}
		</div>
	</div>
</div>