<div class="ui relaxed divided list">
	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_agol' %}" class="header">ArcGIS Item</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_group' %}" class="header">Group</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_layer_source' %}" class="header">Layer Source</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_mxd' %}" class="header">MXD</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_webmap' %}" class="header">Webmap</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_webmap_app' %}" class="header">Webmap App</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_web_adapter' %}" class="header">Web Adapter</a>
			<div class="description">description</div>
		</div>
	</div>

	<div class="item">
		<i class="large caret right middle aligned icon"></i>
		<div class="content">
			<a href="{% url 'viewer_web_service' %}" class="header">Web Service</a>
			<div class="description">description 1</div>
		</div>
	</div>
</div>