{# main content #}
{% for item in items  %}
	{% if location.0 == "ArcGIS Online Item" %}
		{% include "partials/card_agol.html" with a=item %}
	{% elif location.0 == "Groups" %}
		{% include "partials/card_groups.html" with g=item %}	
	{% elif location.0 == "Layer Source" %}
		{% include "partials/card_layer-source.html" with ls=item %}
	{% elif location.0 == "MXD" %}
		{% include "partials/card_mxd.html" with m=item %}
	{% elif location.0 == "Webmap" %}
		{% include "partials/card_webmap.html" with w=item %}
	{% elif location.0 == "Webmap App" %}
		{% include "partials/card_webmap-app.html" with w=item %}
	{% elif location.0 == "Webmap Item" %}
		{% include "partials/card_webmap-item.html" with w=item %}
	{% elif location.0 == "Web Adapter" %}
		{% include "partials/card_web-adapter.html" with w=item %}
	{% elif location.0 == "Web Service" %}
		{% include "partials/card_web-service.html" with w=item %}
	{% endif %}
{% endfor %}