{% extends "index.html" %}
{% block content %}

<div class="ui fluid container home-container">
	<h1 class="ui header">ArcGIS Online Indexer</h1>

	{% include "partials/home_search_bar.html" with search_field=search_field %}
	
	{% if errors %}
		<ul class="error-list">
		{% for err in errors %}
			<li>{{err}}</li>
		{% endfor %}
		</ul>
	
	{% else %}
		{% if result_amount >= 0 %}
			<h3 class="ui header">{{ result_amount }} Results Found</h3>
		{% endif %}
		
		{% include "partials/home_results.html" with agols=agols groups=groups layer_sources=layer_sources mxds=mxds webmaps=webmaps webmap_apps=webmap_apps web_adapters=web_adapters web_services=web_services %}	
	{% endif %}
	

</div>
{% endblock %}