.main-container
	padding-top: 100px

.home-container
	width: 85% !important
	padding-bottom: 50px

	.ui.section.divider
		margin-top: 1.35em !important
		margin-bottom: 1.35em !important

.ui.card
	span
		font-weight: bold